.memberCardPicture {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.linkedinOverlay {
  position: absolute;
  right: 20px;
  top: 340px;
  border: 15px;
}

.linkedinOverlay:hover {
  position: absolute;
  right: 20px;
  top: 340px;
  border-radius: 15px;
  box-shadow: 0 0 1rem 0px #ffffffc0 !important;
}

.linkedinIcon {
  width: 40px;
  height: 40px;
}
