.cardDeck {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.card {
  max-width: 30% !important;
  min-width: 300px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 20px !important;
}

.smallCard {
  max-width: 25% !important;
  min-width: 250px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 20px !important;
}

.linkableCard {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

.cardShadow {
  box-shadow: 0 0 0.5rem 0px #00000040;
}

.cardTitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold !important;
  color: #587758;
}

.cardTitleHighlight {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold !important;
  background-color: #eeee11;
  color: #1a1f1a;
}

.cardSubtitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #253525;
}

.lineSeparator {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #587758;
}

.cardText {
  font-size: 16px;
  color: #1a1f1a;
}

.leftCardText {
  text-align: left;
  font-size: 16px;
  color: #1a1f1a;
}

.leftCardTextHighlight {
  text-align: left;
  font-size: 16px;
  background-color: #eeee11;
  color: #1a1f1a;
}

.cardTextBig {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  color: #153615;
}

.cardHeader {
  background-color: #dee6e0be !important;
}

.cardFooter {
  background-color: #dee6e0be !important;
}

.centerJustified {
  text-align: center;
}
