.ddb-navbar {
  background-color: #153615;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
}

.ddb-navbar-link {
  color: #dee6e0 !important;
}

.ddb-navbar-link:hover {
  color: #ffffff !important;
}
