.arrangeHorizontally {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.picture {
  display: flex;
  object-fit: scale-down;
  width: 400px;
  height: 400px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.sideText {
  padding-left: 1rem;
  text-align: left;
}

.gridMember {
  margin-bottom: 0.5rem;
}
