.centerAll {
  justify-content: center;
  text-align: center;
}

.leftJustifyText {
  justify-content: center;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  color: #153615;
  text-align: center;
}

.subtitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  font-weight: bold;
  color: #153615;
  text-align: center;
}

.note {
  font-family: "Brush Script MT", cursive;
  font-size: 25px;
  color: #153615;
  text-align: center;
}

.jumbotronBanner {
  background-color: #dee6e0be !important;
  margin-bottom: 0px !important;
}

.core {
  background-color: #eeeeee64 !important;
}

.bigText {
  font-family: "Courier New", Courier, monospace;
  font-size: 22px !important;
  color: #153615 !important;
  text-align: center;
}

.mediumText {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: #153615;
  text-align: center;
}

.pageText {
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 20px;
  color: #1a1f1a;
}

.leftAlignText {
  text-align: left;
}

.sidePadding {
  margin-left: 10rem;
  margin-right: 10rem;
}
