.page-link {
  color: #587758;
  background-color: white;
}

.page-link:hover {
  color: #587758;
}

.page-item.active .page-link {
  color: white;
  background-color: #587758;
  border-color: #587758;
}

.btn-secondary {
  color: white;
  background-color: #587758 !important;
  border-color: #587758 !important;
}
