.politiciansPage {
  justify-content: center;
  text-align: center;
}

.politicianCard {
  max-width: 230px !important;
  min-width: 190px !important;
  /* min-width: 350px !important; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px !important;
}

/* .politicianCardPicture {
  width: 100%;
  height: 100px !important;
  object-fit: cover;
} */

.politicianCardPicture {
  display: block;
  min-width: 180px;
  height: 280px;
  object-fit: cover;
}

.cornerBadgeDem {
  position: absolute;
  right: 10px;
  top: 70px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 25%;
  background-color: #3389ec;
  color: white;
  text-align: center;
  font-size: 23px;
}

.cornerBadgeRep {
  position: absolute;
  right: 10px;
  top: 70px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 25%;
  background-color: #ee4848;
  color: white;
  text-align: center;
  font-size: 23px;
}

.cornerBadgeIndep {
  position: absolute;
  right: 10px;
  top: 70px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 25%;
  background-color: #f0e43b;
  color: white;
  text-align: center;
  font-size: 23px;
}

.picture {
  position: relative;
  display: flex;
  flex-direction: column;
  object-fit: scale-down;
  max-width: 100%;
  height: 500px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}
