.Container {
  position: relative;
  min-height: 600px;
  max-height: 1000px;
  overflow: hidden;
  margin-bottom: 0px;
}

.Background {
  background-color: rgba(156, 18, 18, 0.2);
  background-image: url(./money_flying.png);
  width: 100%;
  height: 100%;
}

/* Style the video: 100% width and height to cover the entire window */
.Video {
  width: 100%;
  height: 100%;
}

/* Add some content at the bottom of the video/page */
.Content {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.SubContent {
  text-align: center;
  padding: 10px;
  opacity: 1;
}

.SubContent p {
  color: #3b3636;
  font-size: 1.3rem;
}
.SubContent button {
  font-weight: bold;
  margin-top: 30px;
  color: #f1f1f1;
  border: #f1f1f1 1px solid;
  padding: 10px 5px;
  background-color: hsla(0, 0%, 0%, 0);
  font-size: 1.25rem;
  border-radius: 5px;
}

.SubContent button:hover {
  background-color: #f1f1f1;
  color: #000000c0;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  color: #97ce97;
  text-align: center;
}

.bigText {
  font-family: "Courier New", Courier, monospace;
  font-size: 22px !important;
  color: #c9d4c9 !important;
  text-align: center;
}
