li > .nav-link {
  color: #41ca41;
}

li > .nav-link:hover {
  color: #587758;
  background-color: #dee6e070;
}

li > .nav-link.active {
  color: #153615 !important;
  background-color: #dee6e0be !important;
}
