.bigText {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px !important;
  color: #273f80 !important;
  text-align: center;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  font-weight: bold;
  color: #888194;
  text-align: center;
}
.centered-tabs {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
